:root {
  --primay: black;
  --bg-primay: white;

  --link: #2a0b0b;
}

.App {
  text-align: center;
}

.header {
  font-size: 3rem;
}

.body {
  margin: 20px 0 10px;
  font-size: 0.9rem;
}

.layoutView {
  background-color: grey;
  position: relative;
}

.keyOuter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: '0px';
  padding: '0px';
  user-select: none;
}

.keyInner {
  border: 1px solid black;
  background-color: white;
}